{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.844"}
  com.wsscode/pathom3 {:git/url "https://github.com/wilkerlucio/pathom3"
                       :sha "8b22b47c310cd7d3b12edc5855765d9cad1125d8"}
  rewrite-clj {:mvn/version "1.0.605-alpha"}}}
