{:lein true
 :socket-repl {:port 4321}

 :jvm-opts ["-Xmx800M"]
 :builds {:tests {:target :node-script
                  :output-to "lib/main.js"
                  :main duck-repled.tests/main
                  :compiler-options {:warnings {:fn-deprecated false}
                                     :load-tests true
                                     :output-feature-set :es-next}}}}
