{:lein true
 :builds {:tests {:target :node-script
                  :output-to "lib/main.js"
                  :main duck-repled.tests/main
                  :compiler-options {:warnings {:fn-deprecated false}
                                     :output-feature-set :es-next}}}}
