version: 2.1
defaults: &defaults
  docker:
    - image: circleci/clojure:openjdk-11-lein-2.9.5-node

jobs:
  test-cljs:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: "lein shadow-release && node lib/main.js --test"
          when: always

workflows:
  version: 2
  default-workflow:
    jobs:
      - test-cljs:
          filters:
            tags:
              only:
                - /^v.+/
