version: 2.1
defaults: &defaults
  docker:
    - image: circleci/clojure:openjdk-11-tools-deps-node

jobs:
  test-cljs:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: "wget https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein && chmod +x lein && sudo mv lein /usr/local/bin"
          when: always
      - run:
          command: "lein shadow-release && node lib/main.js --test"
          when: always

workflows:
  version: 2
  default-workflow:
    jobs:
      - test-cljs:
          filters:
            tags:
              only:
                - /^v.+/
