version: 2.1
defaults: &defaults
  machine:
    image: circleci/classic:edge

jobs:
  deps:
    <<: *defaults
    steps:
      - checkout
      - run:
        command: docker build . -t tests
      - run:
        command: docker build . -t tests
      - run:
        command: docker save -o docker-image.img tests
      - persist_to_workspace:
          root: '.'
          paths:
            - ./docker-image.img

  test-cljs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: '.'
      - run:
          command: docker load -i docker-image.img
      - run:
          command: "docker run -it tests node lib/main.js --test"

  test-clj:
    <<: *defaults
    steps:
      - attach_workspace:
          at: '.'
      - run:
          command: docker load -i docker-image.img
      - run:
          command: "docker run -it tests lein test"
          when: always

workflows:
  version: 2
  default-workflow:
    jobs:
      - deps:
          filters:
            tags:
              only:
                - /^v.+/

      - test-cljs:
          requires:
            - deps
          filters:
            tags:
              only:
                - /^v.+/

      - test-clj:
          requires:
            - deps
          filters:
            tags:
              only:
                - /^v.+/
