version: 2.1
defaults: &defaults
  docker:
    - image: circleci/clojure:openjdk-11-tools-deps-node
  environment:
    PATH=/home/circleci/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/usr/local/openjdk-11:/usr/local/openjdk-11/bin

jobs:
  deps:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: "wget https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein && chmod +x lein && sudo mv lein /home/circleci/.local/bin"
          when: always
      - run:
          command: "clojure -Stree"
          when: always
      - save_cache:
          key: project-{{checksum "project.clj"}}-{{checksum "deps.edn"}}
          paths:
            - /home/circleci/.local/bin/lein
            - ~/.m2

  test-cljs:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - project-{{checksum "project.clj"}}-{{checksum "deps.edn"}}
      - run:
          command: "lein shadow-release && node lib/main.js --test"
          when: always

  test-clj:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - project-{{checksum "project.clj"}}-{{checksum "deps.edn"}}
      - run:
          command: "lein test"
          when: always

workflows:
  version: 2
  default-workflow:
    jobs:
      - deps:
          filters:
            tags:
              only:
                - /^v.+/

      - test-cljs:
          requires:
            - deps
          filters:
            tags:
              only:
                - /^v.+/

      - test-clj:
          requires:
            - deps
          filters:
            tags:
              only:
                - /^v.+/
